p {
    font-family: Courier;
}

body {
    background: rgb(230, 228, 182);
}

ul {
    font-family: Courier;
}

ol {
    font-family: Courier;
}

li {
    font-family: Courier;
}

img {
    height: 100px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

#navbar {
    background: rgb(230, 228, 182);
    padding: 0%;
}

.top-ul {
    list-style-type: none; /* removes the bullet */
    background-color: azure;
    width: 50%;
    font-family: Courier;
    padding: 2px 10px 2px 10px; 
    display: flex;
    z-index: 1;
}
.top-li {
    background-color: azure;
    margin: 0;
    width: 50%;
    padding: 40px;
    font-family: Courier;
    font-size: 20px;
    display: inline-block;
    z-index: 1;
    text-align: center;
}

.nav {
    margin: auto;
    height: 200px;
    width: 100%;
    font-family:'Courier New', Courier, monospace;
}

.nav-list {
    display: flex;
    justify-content:space-around;
    list-style-type:none;
    height: 100%;
    width: 100%;
    padding: 0;
}

.welcome-section {
    text-align: center;
    padding: 25px;
    width: 50%;
    margin: auto;
}

code {
    background-color: whitesmoke;
}

#blog1 {
    background: azure;   
}

#blog2 {
    background: azure;
}

/* Dropdown Button */
.dropbtn {
    background-color: darkseagreen;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
